<!-- <%- include('../partials/header') %>

    <a href="/skills/new">Add Skill</a>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>

                <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                    -
                <%= s.done ? 'done' : 'not done' %>
            </li>
        <% }); %>
    </ul>

<%- include('../partials/footer') %> -->


<%- include('../partials/header') %>

<br>
<a href="/skills/new">Add a New Skill</a>

  <div class="container">
    
    <br>
    <div class="row">
      <table class="table" id="main-tb">
        <thead>
          <tr>
            <th scope="col">Delete</th>
            <th scope="col">Skill</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            <% skills.forEach(function(s) { %> 
            <tr>
              <td scope="row" action="/skills/<%= s.id %>?_method=DELETE">
                <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger">X</button>
                </form>
              </td>
              <td scope="row" href="/skills/<%= s.id %>"><a href="/skills/<%= s.id %>"><%= s.skill %></a></td>
              <td scope="row"><%= s.done %> </td>
            </tr>
          <% }); %> 
        </tbody>
      </table>
    </div>
  </div>
<%- include('../partials/footer') %>